<form class="form-projeto">
	<h1>Alterar</h1>
	<div class="item">
		<label style="margin-right: 35px">Título</label>
		<input type="text" maxlength="50" [(ngModel)]="principalService.formEdit.titulo"
		[ngModelOptions]="{standalone:true}" value="{{ dataModel?.titulo }}">
	</div>
	<div class="item">
		<label>Descrição</label>
		<input type="text" maxlength="150" [(ngModel)]="principalService.formEdit.descricao"
		[ngModelOptions]="{standalone:true}" value="{{ dataModel?.descricao }}">
	</div>
	<div class="button" (click)="editar()">Editar</div>

	<div *ngIf="principalService.mensagemEditar === true" class="mensagem">Alterado com sucesso</div>

</form>
