.form-projeto{
	margin: 0 auto;
	font-family: Arial;
	font-size: 13px;
	border: 1px solid #eee;
	border-radius: 5px;
	width: 40%;
	padding: 30px;
}
.form-projeto .item{
	margin-bottom: 10px;
}
.form-projeto h1{
	font-size: 16px;
	color: blue;
	padding: 0 0 10px 0;
	margin: 0;
}
.form-projeto label{
	margin-bottom: 15px;
	margin-right: 10px;
}
.form-projeto input{
	height: 20px;
	padding: 0 5px;
	width: 80%;
}
.form-projeto .button{
	height: 35px;
	border-radius: 5px;
	background-color: #999;
	color: #fff;
	width: 100px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	cursor: pointer;;
	margin: 10px auto 0;
}
.mensagem{
	color: red;
	margin-top: 30px;
	font-size: 14px;
	text-align: center;
}
