<form class="form-projeto" [formGroup]="infosForm" (ngSubmit)="onSubmit()">
	<h1>Formulário</h1>
	<div class="form-group">
		<label>Informe a senha</label>
		<input type="text" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

		<select class="custom-select" (change)="changeCodigo($event)" formControlName="codigoName" [ngClass]="{ 'is-invalid': submitted && f.codigoName.errors }">
			<option value="">Selecione o código</option>
			<option *ngFor="let item of codigo" [ngValue]="item.monitor">{{ item.monitor }}</option>
		</select>

		<button class="btn btn-success">Enviar</button>

		<div *ngIf="submitted && f.password.errors">
			<div *ngIf="f.password.errors.required || f.codigoName.errors.required" class="mensagem">Campo Obrigatório</div>
		</div>
	</div>

	<div class="mensagem" *ngIf="naoAutorizado === true">
		Acesso não autorizado
	</div>
</form>
